*{
    margin: 0;
    padding: 0;
    /* overflow-x:hidden;
    overflow-y: hidden; */
    text-decoration: none;
    list-style: none;
    color: white;
}
.main{
    height: 100vh;
    width: 100vw;
}
video{
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: relative;
    top: 0;
    z-index: -1;
}
header{
    height: 10vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    top: 0;
    color: white;
    /* mix-blend-mode: multiply; */
    flex-wrap: wrap;
}
h1{
    font-size: 3em;
}

.links{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
}
.img{
    position: absolute;
    top:40%;
    height: 30vh;
    width: 30vw;
    background-image: url(./images/beach.avif);
    background-size: cover;
    border-radius: 5%;
    left: 10%;
}
.content{
    position: absolute;
    top:40%;
    height: 30vh;
    width: 35vw;
    border-radius: 5%;
    left: 60%;
    background-color: black;
    /* mix-blend-mode: multiply; */
    color: white;
    font-size: 1.3em;
    text-align: center;
}
.drop{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.linkbox{
    position: absolute;
    display: none;
}
.linkbox a{
    padding: 0.4em;
    color: black;
}
.drop:hover .linkbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.6rem;
    background-color: white;
}
